/*footer*/
footer {
   padding: 10px;
   color: #000;
   text-align: right;
   font-family: "Inria Serif", serif;
   align-items: right;
 }
 
 footer a {
   text-decoration: none;
   background-color: #a79aff;
   color: #F5F5F5;
 }
 