/* nav*/

    header{
    position: relative;
    padding: 10px 20px;
    background-color: #b6a8fb;
    color: #F5F5F5;
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo{
     max-width: 6rem;
     border-radius: 10px;
    }
    .nav-links{
        list-style: none;
        display: flex;
        gap: 15px;
    }
    .nav-links a{
        text-decoration: none;
        color: #F5F5F5;
        font-size: 18px;
    }
    .nav-links a :hover{
        color: #4b66ee;
    }
    .hamburguer{
        display: none;
        flex-direction: column;
        cursor: pointer;
    }
    .bar{
        width: 25px;
        height: 3px;
        background-color: #F5F5F5;
        margin: 4px 0;
        transition: 0.5s;
    }
    
   
    
    